table{font-size: 12px;}
#view_table{width: 700px; border-collapse: collapse; border-color: gray;margin: 30px auto;}
.view_title{ background-color:#f97878 ;font-weight: 700; font-size: 15px;height: 35px;}
.view_id,.view_hit{background-color: #dedede;}
.view_content{height: 400px; padding-top: 30px; background-color:#f1f1f199;}
.view_btn{text-align: center;}
table tr:nth-child(2){height: 30px;}
td{text-align: center;}

button{padding: 5px;margin:0 2px 30px 0; font-size: 12px;}
